aiohttp
aiofiles 
asyncio 
ffmpeg-python
pillow 
pyrogram
py-tgcalls
wget 
python-dotenv 
youtube-search-python 
youtube-search 
motor 
psutil 
requests 
rich 
dnspython 
yt-dlp
tgcrypto 
gitpython 
heroku3
